/*
   Author: Zack
   Date: Octebuary 32nd
   #255fbc
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');
body {
   /* background-image: url("stones.jpg"); */
   font-family: 'Roboto', sans-serif;  
   background-color: #6464ff;
   text-align: center;
   color: #FFFFFF;
}
a:link {
   color: #f2ef54;
}
a:visited {
   color: #53f16e;
}
a:hover {
   color: #f05353;
}
a:active {
   color: #54fff0;
}
table {
   border-collapse: collapse;
}
table, th, td {
   border: 1px solid #202020;
   padding: 5px;
}
.leftjust {
  text-align: left;
}
